{% extends "base.html" %}


{% block title %}
Calendar
{% endblock %}

{% block content %}


<iframe src={{clink}} style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<h3> {{ course }} </h3>
<table class="table table-hover">

  <tbody>
    {% for course, events in calendar %}
      {% for event in events %}
        <tr>
          <td> {{ event['due_day'] }} </td>
          <td> {{ event['due_time'] }} </td>
          <td> {{ event['summary'] }} </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
