{% extends "base.html" %}


{% block title %}
Calendar
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="search_box">
        <div class="dropdown">
            <div class="default_option">All</div>
            <ul>
              <li>All</li>
              <li>Recent</li>
              <li>Popular</li>
            </ul>
        </div>
        <div class="search_field">
          <input type="text" class="input" placeholder="Search">
          <i class="fas fa-search"></i>
      </div>
    </div>
</div>

<h3> {{ course }} </h3>
<table class="table table-hover">

  <tbody>
    {% for course, events in calendar %}
      {% for event in events %}
        <tr>
          <td> {{ event['due_day'] }} </td>
          <td> {{ event['due_time'] }} </td>
          <td> {{ event['summary'] }} </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
