{% extends "base.html" %}

{% block title %}
{{ course['name'] }}
{% endblock %}

{% block content %}

<h1> {{ course['name'] }} </h1>
<div class="wrapper">
    <div class="search_box">
      <!--
        <div class="dropdown">
            <div class="default_option">All</div>
            <ul>
              <li>All</li>
              <li>Text</li>
              <li>Title</li>
              <li>Post Date</li>
              <li>Due Date</li>
            </ul>
        </div>
      -->
        <form action="/query" method="POST">
        <div class="search_field">
          <input type="text" class="input" placeholder="Search" name = "keyword">
          <i class="fas fa-search"></i>
          <input type="hidden" name="id" value="{{course['id']}}" />
        </div>
        </form>
    </div>
</div>
{{results}}

<h5> {{error}}<h5>
<br>

{% for post in posts %}
  <!-- only courseWork has a due date, not announcement -->
  {% if post.dueDate is defined %}
    <div onclick="togglepost(this)" class="post">
      <h5 style="font-weight: 700;">Assignment: {{ post.title }} </h5>
      <h6 style="font-weight: 100;">Posted: {{ post.creationTime }} </h6>
      <h6 style="font-weight: 100;">Due on: {{ post.dueDate }} at {{ post.dueTime }} </h6>
      <div class="more">
        <p> {{ post.description }} </p>
      </div>
    </div>
  {% else %}
    <div onclick="togglepost(this)" class="post">
      <h5 style="font-weight: 700;">Announcement</h5>
      <h6 style="font-weight: 100;">Posted: {{ post.creationTime }} </h6>
      <div class="more">
        <p> {{ post.text }} </p>
      </div>
    </div>
  {% endif %}
{% endfor %}
{{dog}}

{% endblock %}
