{% extends "base.html" %}

{% block title %}
{{ course['name'] }}
{% endblock %}

{% block content %}

<h1> {{ course['name'] }} </h1>
<h3> ID: {{ course['id'] }} </h3>

{% for post in posts %}
  <p> {{ post['creationTime'] }} </p>
  <h2> {{ post['title'] }} </h2>
  <p> {{ post['description'] }} </p>
  <p> {{ post['text'] }} </p>
  <p> {% if post['dueDate'] is defined %}
        Due date:
        {{ post['dueDate'].year }}/
        {{ post['dueDate'].month }}/
        {{ post['dueDate'].day }}
      {% endif %}
  </p>
{% endfor %}

{% endblock %}
