<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learnination Machine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link href="../static/css/comfortable.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Learnination Machine!</h1>
      <p class="lead">This site connects with Google to serve as an alternate
        interface for using Google Classroom, with additional features tacked on.</p>
      <hr class="my-4">
      <p>By: Pupiter Classroom</p>
      <a class="btn btn-primary btn-lg" href="/auth">Sign in with Google</a>
    </div>
  </body>
</html>
