{% extends "base.html" %}

{% block title %}
To Do
{% endblock %}

{% block content %}
<h1> To Do List</h1>
<div class="Container">
  {% for thing in masterAssign %}
  <div class="row">
    <br>
      <h4>   {{thing[0]}}</h4>
      
      {% if thing[1] == "none" %}
      <div onclick="togglepost(this)" class="post">
        <h5 style="font-weight: 700;">You have nothing due for this class</h5>
      </div>
      {% endif %}
      {% for post in thing[1] %}
        {% if post.dueDate is defined %}
          <div onclick="togglepost(this)" class="post">
            <h5 style="font-weight: 700;">Assignment: {{ post.title }} </h5>
            <h6 style="font-weight: 100;">Posted: {{ post.creationTime }} </h6>
            <h6 style="font-weight: 100;">Due on: {{ post.dueDate }} at {{ post.dueTime }} </h6>
            <div class="more">
            <p> {{ post.description }} </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </div>
  <br>
  {% endfor %}

</div>

{% endblock %}
